
# https://honeygain.com/
export HONEYGAIN_EMAIL="<HONEYGAIN_EMAIL>"
export HONEYGAIN_PASSWORD="<HONEYGAIN_PASSWORD>"

# https://earnapp.com/
export EARNAPP_ID="<EARNAPP_ID>" # generated with: echo sdk-node-$(cat /dev/urandom | LC_ALL=C tr -dc "a-f0-9" | dd bs=1 count=32 2>/dev/null)
# IMPORTANT: Must register at https://earnapp.com/r/${EARNAPP_ID}

# https://bitping.com/
export BITPING_EMAIL="<BITPING_EMAIL>"
export BITPING_PASSWORD="<BITPING_PASSWORD>"
export BITPING_MFA=""

# https://packetstream.io/
export PACKETSTREAM_CID="<PACKETSTREAM_CID>"

# https://pawns.app/
export PAWNS_EMAIL="<PAWNS_EMAIL>"
export PAWNS_PASSWORD="<PAWNS_PASSWORD>"

# https://traffmonetizer.com/
export TRAFFMONETIZER_TOKEN="<TRAFFMONETIZER_TOKEN>"

# https://repocket.com/
export REPOCKET_EMAIL="<REPOCKET_EMAIL>"
export REPOCKET_API_KEY="<REPOCKET_API_KEY>"

# https://proxyrack.com/
export PROXYRACK_UUID="<PROXYRACK_UUID>" # random 64 chars generated with: cat /dev/urandom | LC_ALL=C tr -dc "A-F0-9" | dd bs=1 count=64 2>/dev/null && echo

# https://earn.fm/
export EARNFM_API_KEY="<EARNFM_API_KEY>"
